/* Colors 

green - 38b449
blue - 00adef
red - de2d34
purple - 5e52a2

*/

@font-face {
    font-family: CodeLight;
    src: url(/assets/font/codelight.otf);
}
@font-face {
    font-family: Code Bold;
    src: url(/assets/font/codebold.otf);
}

html, body{
	background-color: #FFF;
}
body#index{
	color: #111;
}
h2 {
font-family: Helvetica, Arial, sans-serif;
font-weight: 100;
font-size: 2em;
}
ul{
	list-style: none;
	margin: 0px;
}
h1,
.page-header h1 {
font-family: Code Light, Helvetica;
font-size: 3em;
letter-spacing: 3px;
font-size: 2em;
}
.fa {
font-size: .8em;
margin-left: 5px;
color: #999;
}


@media (max-width: 767px){
	body{
		padding-left: 0px;
		padding-right: 0px;
	}
	.container{
		padding: 0px 2%;
	}
	.navbar .nav > li > a{
		font-size: 1.5em;
	}
	
	.container-fluid  p{
		padding-left: 2%;
		padding-right: 2%;
	}
}

@media (max-width: 450px){
	#titleheader > img {
		max-width: 611px;
		margin-left: -30%;
	}
	#attractions h2{
		font-size: 4em;
	}
}
@media (max-width: 979px){
	.navbar .container {
		padding-left: 20px;
		padding-right: 20px;
	}
	.navbar .nav{
		background-color: #111;
		border-radius: 5px;
	}
}

body#index a:hover,
.navbar .nav > li > a:hover{
	color: #00adef;
}

.featured{
	padding: 20px 2%;
	height: 300px;
	background-size: cover;
	color: #FFF;
	
}
.featured.over-image p{
	background-color: rgba(0,0,0,.3)
}
.featured a{
	color: #FFF;
	text-decoration: underline;
}
#index .featured{
		width: 46%;
	float: left;
	min-width: 300px;
}
.featured.halfheight{
	height: 100px;
	background-position-y: 45%;
}
.featured h2 {
	font-family: CodeLight, Helvetica, Arial, sans-serif;
	font-size: 5em;
	line-height: 1em;
	width: auto;
	padding: 5px 10px;
	display: inline;
}
.featured p {
	font-size: 1.5em;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 100;
	min-width: 250px;
	width: 48%;
	line-height: 1.6em;
	margin-top: 20px;
	padding: 5px 10px;
	color: #FFF;
}
#index .featured p{
	color: #FFF;
} 

#design{
	background-image: url(/assets/img/design.jpg);
}
#design p{
	background-color: rgba(0,0,0,.3);
}
#analyze{
	background-color: #00adef;
}
#code{
	background-color: #5e52a2;
}
#discuss{
	background-image: url(/assets/img/discuss.jpg);
}
#discuss p{
	background-color: transparent;
	color: #FFF;
}
#details h2{
	color: #111;
}
#details p{
	color: #111;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a,
#index .dropdown-menu > li > a:hover{
	color: #FFF;
	background-color: #00adef;
	background-image: linear-gradient(to bottom, #00adef, #0077b3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00adef), to(#0077b3));
	background-image: -webkit-linear-gradient(top, #00adef, #0077b3);
}

#titleheader > img{
	min-height: 150px;
}

.title{
	margin-top: 20px;
	font-family: CodeLight, Arial, sans-serif;
	letter-spacing: 1px;
	font-size: 3em;
	line-height: 1em;
}
.posts-title{
	display: block;
	text-align: left;
	width: 27%;
	margin-right: 2%;
	float: left;
	height: 150px;
	font-size: 1.3em;
	line-height: 1.5em;
	background-color: #EEE;
	padding: 10px 2%;
	min-width: 245px;
	border-bottom: #999 5px solid;
	overflow: overlay;
}
.posts-title:nth-child(3){
	margin-right: 0px;
}
.posts-title a{
	color: #111;
	text-align: left;
}
.posts-title a[href*=categories] {
	display: block;
	margin-top: 10px;
	width: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.posts-title .post-date{
	display: block;
	font-size: .8em;
}

.brand,
.navbar .nav > li > a{
	letter-spacing: 0;
}
.navbar a.brand{
	font-family: CodeLight;
	letter-spacing: 1px;
}

.hero-icon{
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100%;
	height: 84px;
	padding-top: 14px;
	color: white;
	font-size: 24px;
}

.bg-color1{ background-color: #38b449;}
.bg-color2{background-color: #de2d34;}
.bg-color3{background-color: #00adef;}
.bg-color4{background-color: #5e52a2;}

.posts-title a[href*=categories],
a[href*=categories]{
	background-color: #38b449;
	color: #FFF;
	padding: 1px 4px;
	border-radius: 4px;
	margin: 0px 2px;
	display: inline-block;
}
.navbar .posts-title a[href*=categories],
.navbar a[href*=categories]{
	background-color: inherit;
}
.posts-title a[href*=categories]:hover,
a[href*=categories]:hover{
	color: #FFF !important;
	background-color: #111;
}
a[href*="categories#Data management"],a[href*="categories.html#data management"],
.posts-title a[href*="categories#Data management"], .posts-title a[href*="categories.html#data management"],
.tag_box a[href*="categories.html#data management"]{ 
	background-color: #00adef;
}
a[href*="categories#Data science"],a[href*="categories.html#data science"], 
.posts-title a[href*="categories#Data science"], .posts-title a[href*="categories.html#data science"],
.tag_box a[href*="categories.html#data science"]{ 
	background-color: #de2d34;
}
a[href*="categories#Meta"],a[href*="categories.html#meta"],
.posts-title a[href*="categories#Meta"], .posts-title a[href*="categories.html#meta"],
.tag_box a[href*="categories.html#meta"]{ 
	background-color: #999;
}
a[href*="categories#Visualization"],a[href*="categories.html#visualization"],
.posts-title a[href*="categories#Visualization"], .posts-title a[href*="categories.html#visualization"],
.tag_box a[href*="categories.html#visualization"]{ 
	background-color: #5e52a2;
}

.center{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#index .content > .container-fluid{
	padding-top: 20px;
	padding-bottom: 20px;
}

.tag_box a {
padding: 2px 4px;
background-color: #00adef;
color: #FFF;
}
.tag_box a:hover{
	background-color: #111;
}

#sessions{
	background-color: #F9F9F9;
}

#sponsors{
	background-color: #111;
	color: #FFF;
}

#location{
	background-image: url(/assets/img/doubletree.jpg);
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;	
}

#gmap_canvas {
height: 300px;
width: 102%;
float: left;
}
#location-map{
	padding-top: 20px;
	background-color: #EEE;
}
#location-map > .details{
	float: left;
margin-top: 20px;
padding: 0px 1%;
display: inline-block;
font-size: 1.8em;
line-height: 1.2em;
font-weight: 200;
width: 49%;
}

#beaches{
	background-image: url(/assets/img/waterfront.jpg);
}
#stearnswharf{
		background-image: url(/assets/img/stearnswharf.jpg);
	
}
#statest{
		background-image: url(/assets/img/statest.jpg);
}
#more-attractions{
		background-image: url(/assets/img/palmtrees.jpg);
}
#more-attractions p{
	background-color: #111;
}
#more-attractions a{
	color: #FFF;
}
#more-attractions a{
	color: #FFF;
}
#register{
	background-image: url(/assets/img/register.jpg);
	background-position-x: 40%;
}
#attractions{
		background-image: url(/assets/img/onbike.jpg);
		margin-top: 20px;
}
#details p{
	width: 100%;
}

em{
	font-weight: bold;
	font-style: normal;
}

#intro{
	font-size: 1.5em;
	line-height: 1.8em;
	padding-left: 2%;
	padding-right: 2%;
}

a.lightbox-41817591638969:hover {
cursor: pointer;
}

