/* Colors 

green - 38b449
blue - 00adef
red - de2d34
purple - 5e52a2

*/


/**** FONTS ***/
@font-face {
    font-family: CodeLight;
    src: url(/open-science-codefest/assets/font/codelight.otf);
}
@font-face {
    font-family: Squares;
    src: url(/open-science-codefest/assets/font/squares/squaresbold.otf);
}
@font-face {
    font-family: Code Bold;
    src: url(/open-science-codefest/assets/font/codebold.otf);
}

html, body{
	background-color: #FFF;
}
body#index{
	color: #111;
}
h2 {
font-family: Helvetica, Arial, sans-serif;
font-weight: 100;
font-size: 2em;
}
ul{
	list-style: none;
}
a{
	color: #069286;
}
a:hover{
	color: #8EC540;
	text-decoration: none;
}
h1,
.page-header h1 {
font-family: Helvetica, Arial, sans-serif;
font-size: 3em;
}
.fa {
font-size: .8em;
margin-left: 5px;
color: #999;
}

#titleheader,
.wrapper{
	margin-top: 36px;
}
.container-fluid  p{
	padding-left: 2%;
	padding-right: 2%;
}

body#index a:hover,
.navbar .nav > li > a:hover{
	color: #8EC540;
}


.featured{
	padding: 20px 1%;
	height: 300px;
	background-size: cover;
	color: #FFF;
}
.featured.over-image p{
	background-color: rgba(0,0,0,.3)
}
.featured.over-image a{
	color: #FFF;
	text-decoration: underline;
}
.featured.grid{
	width: 23%;
	float: left;
	height: 200px;
}
.featured.halfheight{
	height: 100px;
	background-position-y: 45%;
}
#index .featured:nth-child(1){
	margin-top: 20px;
}
.featured h2 {
	font-family: CodeLight, Helvetica, Arial, sans-serif;
	font-size: 2.5em;
	line-height: 1em;
	width: auto;
	padding: 5px 10px;
	display: inline;
}
.featured p {
	font-size: 1.1em;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 100;
	line-height: 1.6em;
	margin-top: 20px;
	padding: 5px 10px;
	color: #FFF;
}
.featured.grid p{
	color: #FFF;
} 

#register-featured{
	background-image: url(/assets/img/conference.jpg);
	float: none;
	width: 100%;
	margin-bottom: 20px;
}
#design{
	background-image: url(/open-science-codefest/assets/img/design.jpg);
}
.featured.over-image p{
	background-color: rgba(0,0,0,.3);
	width: 50%;
	width: 50%;
}
.featured.over-image.grid p{
	width: 87%;
}
#analyze{
	background-color: #8ec63e;
	background-image: url(/open-science-codefest/assets/img/tetra-bg.png);
	background-size: 200%;
	
}
#code{
	background-color: #265863;
	background-image: url(/open-science-codefest/assets/img/tetra-bg.png);
	background-size: 150%;
	background-position-x: 100%;
}
#discuss{
	background-image: url(/open-science-codefest/assets/img/discuss.jpg);
}
#details{
	height: auto;
}
#details h2{
	color: #111;
}
#details p{
	color: #111;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a,
#index .dropdown-menu > li > a:hover{
	color: #FFF;
	background-color: #00adef;
	background-image: linear-gradient(to bottom, #00adef, #0077b3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00adef), to(#0077b3));
	background-image: -webkit-linear-gradient(top, #00adef, #0077b3);
}

.title{
	margin-top: 20px;
	font-family: CodeLight, Arial, sans-serif;
	letter-spacing: 1px;
	font-size: 3em;
	line-height: 1em;
}
.posts-title{
	display: block;
	text-align: left;
	width: 27%;
	margin-right: 2%;
	float: left;
	height: 150px;
	font-size: 1.3em;
	line-height: 1.5em;
	background-color: #EEE;
	padding: 10px 2%;
	min-width: 245px;
	border-bottom: #999 5px solid;
	overflow: overlay;
}
.posts-title:nth-child(3){
	margin-right: 0px;
}
.posts-title a{
	color: #265863;
	text-align: left;
}
.posts-title .post-date{
	display: block;
	font-size: .8em;
}

.brand,
.navbar .nav > li > a{
	letter-spacing: 0;
}
.navbar a.brand{
	font-family: CodeLight;
	letter-spacing: 1px;
	font-size: 1.8em;
}
.navbar-inner{
	height: 22px;
	padding-top: 10px;
	padding-bottom: 4px;
}

.navbar .nav > li > .important {
	background-color: #FF3A3E;
	color: #fff;
	text-transform: uppercase;
	height: 36px;
	margin-top: -10px;
	line-height: 42px;
	font-family: Squares Bold;
	letter-spacing: 1px;
	font-size: 1.2em;
	transition: all .3s;
}

.navbar .nav > li > .important:hover {
	background-color: #159488;
	color: #FFF;
}

.hero-icon{
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100%;
	height: 84px;
	padding-top: 14px;
	color: white;
	font-size: 24px;
}
.label{
	background-color: #8ec63e;
	line-height: 1.2em;
	color: #333;
}
.posts-title .label{
	color: #FFF;
	font-size: .8em;
}
.bg-color1{ background-color: #38b449;}
.bg-color2{background-color: #de2d34;}
.bg-color3{background-color: #00adef;}
.bg-color4{background-color: #5e52a2;}

.center{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#index .content > .container-fluid{
	padding-top: 20px;
	padding-bottom: 20px;
}

.tag_box a {
padding: 2px 4px;
background-color: #00adef;
color: #FFF;
}
.tag_box a:hover{
	background-color: #111;
}
.labels .label{
	color: #FFF;
	font-size: 1.1em;
}
#sessions{
	background-color: #F9F9F9;
}

#sponsors{
	background-color: #000;
	color: #FFF;
}

#sponsors .nceas{
	margin-top: 18px;
	margin-bottom: 6px;
}

#sponsors .nsf{
	margin-top: 15px;
	height: 85px;
}

#sponsors .renci{
	width: 200px;
}
#location{
	background-image: url(/open-science-codefest/assets/img/doubletree.jpg);
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;	
}

#location p{
	background-color: rgba(38,88,99,0.5);
}

#gmap_canvas {
height: 300px;
width: 102%;
float: left;
}
#location-map{
	padding-top: 20px;
	background-color: #111;
	color: #FFF;
}
#location-map > .details{
	float: left;
margin-top: 20px;
padding: 0px 1%;
display: inline-block;
font-size: 1.3em;
line-height: 1.2em;
font-weight: 200;
width: 49%;
}

#beaches{
	background-image: url(/open-science-codefest/assets/img/waterfront.jpg);
}
#stearnswharf{
		background-image: url(/open-science-codefest/assets/img/stearnswharf.jpg);
	
}
#statest{
		background-image: url(/open-science-codefest/assets/img/statest.jpg);
		background-position-x: 50%;
}
#more-attractions{
		background-image: url(/open-science-codefest/assets/img/palmtrees.jpg);
}
#more-attractions p{
	background-color: #111;
}
#more-attractions a{
	color: #FFF;
}
#more-attractions a{
	color: #FFF;
}
#register{
	background-image: url(/open-science-codefest/assets/img/register.jpg);
	background-position-x: 40%;
}
#attractions{
		background-image: url(/open-science-codefest/assets/img/onbike.jpg);
		margin-top: 20px;
}
#details p{
	width: 100%;
}

em{
	font-weight: bold;
	font-style: normal;
}

#intro{
	line-height: 1.8em;
	padding-left: 2%;
	padding-right: 2%;
}

a.lightbox-41817591638969:hover {
cursor: pointer;
}

.tiny{
	font-size: 0.8em;
	color: #DDD;
}

.filler{
	background-color: #111;
	margin-bottom: 20px;
}

.filler  img{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

footer{
	padding: 0px 2%;
	margin-top: 10px;
	font-size: .8em;
}

#titleheader .mobile{
	display: none;
}

footer{
	padding: 0px 2%;
	margin-top: 10px;
	font-size: .8em;
}

#titleheader .mobile{
	display: none;
}


/**** RESPONSIVE STYLES - KEEP AT END TO OVERRIDE REGULAR STYLES *****/
@media (max-width: 767px){
	body{
		padding-left: 0px;
		padding-right: 0px;
	}
	.container{
		padding: 0px 2%;
	}
	.navbar .nav > li > a{
		font-size: 1.5em;
	}
	.container-fluid  p{
		padding-left: 2%;
		padding-right: 2%;
	}
	.featured h2{
		font-size: 2em;
	}
	.featured p{
		font-size: 1em;
	}
}

@media (max-width: 450px){
	#titleheader > img {
		margin-right: -100%;
		height: auto;
	}
	#attractions h2{
		font-size: 4em;
	}
	#statest{
		background-position-x: 50%;
	}
	#titleheader .nonmobile{
		display: none;
	}
	#titleheader .mobile{
		display: block;
	}
	
	.featured.grid{
		width: 48%;
	}
	
	.featured p{
		font-size: 1.1em;
	}
	
	.featured h2{
		font-size: 3em;
	}
	
	.filler img{
		max-width: 600px;
		margin-left: -35%;
	}
	#location-map > .details{
		float: none;
		width: 100%;
	}
}
@media (max-width: 979px){
	.navbar .container {
		padding-left: 20px;
		padding-right: 20px;
	}
	.navbar .nav{
		background-color: #111;
		border-radius: 5px;
	}
	.navbar-inner{
		height: 35px;
	}
	.navbar .brand{
		margin-top: 10px;
	}
	#titleheader{
		margin-top: 0px;
	}
}

	
