/**** FONTS ***/
@font-face {
    font-family: CodeLight;
    src: url(/assets/font/codelight.otf);
}

@font-face {
    font-family: Squares;
    src: url(/assets/font/squares/squaresbold.otf);
}
@font-face {
    font-family: CodeBold;
    src: url(/assets/font/codebold.otf);
}


/*** IMAGES ****/
#register-featured{ background-image: url(/assets/img/conference.jpg); }
#design{ background-image: url(/assets/img/design.jpg); }
#analyze{ background-image: url(/assets/img/tetra-bg.png); }
#code{ background-image: url(/assets/img/tetra-bg.png); }
#discuss{ background-image: url(/assets/img/discuss.jpg); }
#location{ background-image: url(/assets/img/doubletree.jpg); }
#beaches{ background-image: url(/assets/img/waterfront.jpg); }
#stearnswharf{ background-image: url(/assets/img/stearnswharf.jpg); }
#statest{ background-image: url(/assets/img/statest.jpg); }
#more-attractions{ background-image: url(/assets/img/palmtrees.jpg); }
#register{ 	background-image: url(/assets/img/register.jpg); }
#attractions{ background-image: url(/assets/img/onbike.jpg); }
