
	
	
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ HOME_PATH }}">OPEN SCIENCE CODEFEST 2014 <!--{{ site.title }}--></a>
          <div class="nav-collapse">
            <ul class="nav">

              {% if page.url == "{{ BASE_PATH }}sessions.html" %}<li class="active">{% else %}<li>{% endif %}
                <a href="{{ BASE_PATH }}sessions.html">
                  Sessions
                </a>
              </li>

              {% if page.url == "{{ BASE_PATH }}logistics.html" %}<li class="active">{% else %}<li>{% endif %}
              <a href="{{ BASE_PATH }}logistics.html">Logistics</a></li>
              {% if page.url == "{{ BASE_PATH }}organizers.html" %}<li class="active">{% else %}<li>{% endif %}
              <a href="{{ BASE_PATH }}organizers.html">Organizers</a></li>
              <li>
              <a class="important lightbox-41817591638969">Register</a></li>
             
              <li class="hashtag"><a href="https://twitter.com/hashtag/oscodefest" target="_blank"><i class="fa fa-twitter"></i>#OSCodefest</a></li>
              
            </ul>
          
          </div>
         </div> <!-- /container -->
       </div> <!-- /navbar-inner -->
     </div> <!-- /navbar -->
